/*  */

@media screen and (max-width: 767px) {
    div.childCategories ul li div:first-child,
    div.leftBanner a:first-child img,
    div.rightBanner a:first-child img {
        display: none;
    }
    div#app footer div:first-child {
        flex-direction: column;
        text-align: center;
    }
    div#app footer div:first-child div {
        margin-bottom: 10px;
    }
    div ul.categories li a,
    div.singleTopFirstNewsRight div.singleNewsHead div:last-child a.newsDesc,
    div.singleTopFirstNewsLeft div.singleNewsHead div:last-child a.newsDesc {
        font-size: 12px;
    }
    div.info div.info-body div.info-image {
        float: none;
        margin-right: 0;
        width: 100%;
    }
    div.info div.info-header h1+div>div:first-child {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 320px) {
    div.singleTopFirstNewsRight div.singleNewsHead div:first-child,
    div.singleTopFirstNewsLeft div.singleNewsHead div:first-child {
        display: none;
    }
    div.singleTopFirstNewsRight div.singleNewsHead div:last-child,
    div.singleTopFirstNewsLeft div.singleNewsHead div:last-child {
        width: 100%;
    }
    div.singleTopFirstNewsRight div.singleNewsHead div:last-child a.newsDesc,
    div.singleTopFirstNewsLeft div.singleNewsHead div:last-child a.newsDesc {
        font-size: 14px;
    }
    div.home_page_section_title h2 {
        font-size: 20px;
    }
    div ul.categories li a {
        font-size: 13px;
    }
}