@font-face {
    font-family: UbuntuMedium;
    src: url('../fonts/ubuntu/Ubuntu-Medium.ttf');
}

@font-face {
    font-family: LoraMedium;
    src: url('../fonts/lora/Lora-Medium.ttf');
}

@font-face {
    font-family: RalewayMedium;
    src: url('../fonts/raleway/Raleway-Medium.ttf');
}

.hide {
    display: none !important;
}

body {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

div.centerBar {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
}

div.centerBar div input {
    padding: 5px 10px;
    margin: 10px;
    width: 90%;
}


/* Home page categories section */

div ul.categories .slick-prev:before,
div ul.categories .slick-next:before {
    color: #2e1f1f !important;
}

div ul.categories {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    border: 1px solid;
    padding: 5px;
}

div ul.categories li {
    list-style: none;
    margin: 5px;
    text-align: center;
}

div ul.categories li a:hover {
    color: white;
    background-color: #FF3C36;
}

div ul.categories li a {
    text-decoration: none;
    color: black;
    padding: 10px;
    display: block;
    transition: .4s all ease;
    font-family: UbuntuMedium;
}


/* Home page top first news left side */

div.singleTopFirstNewsLeft {
    display: flex;
    flex-direction: column;
    height: 120px;
}

div.singleTopFirstNewsLeft:not(:last-child) {
    border-bottom: 1px solid #888888;
    box-sizing: border-box;
    margin-bottom: 10px;
}

div.singleTopFirstNewsLeft div.singleNewsFoot,
div.singleTopFirstNewsLeft div.singleNewsHead {
    display: flex;
}

div.singleTopFirstNewsLeft div.singleNewsFoot {
    justify-content: flex-end;
}

div.singleTopFirstNewsLeft div.singleNewsHead div:first-child {
    width: 30%;
    height: 90px;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: fill;
    margin-right: 5px;
}

div.singleTopFirstNewsLeft div.singleNewsHead div:last-child {
    width: 70%;
    height: 100%;
}

div.singleTopFirstNewsLeft div.singleNewsHead div:last-child h6.newsCat {
    font-size: 14px;
    color: #fd3c36;
    text-transform: uppercase;
    font-weight: 700;
}

div.singleTopFirstNewsLeft div.singleNewsHead div:last-child a.newsDesc {
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 10px;
    font-weight: 700;
    color: black;
    text-decoration: none;
    transition: .4s all ease;
}

div.singleTopFirstNewsLeft div.singleNewsHead div:last-child a.newsDesc:hover {
    color: #fd3c36;
}

div.singleTopFirstNewsLeft div.singleNewsHead div:last-child p.newsCreatedDate {
    color: #888888;
    font-size: 14px;
    font-weight: 400;
}


/* Home page top first news center side */

div.singleTopFirstNewsCenter div.singleNewsHead div:first-child {
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: fill;
    background-position: center;
}

div.singleTopFirstNewsCenter div.singleNewsHead div:last-child h6.newsCat {
    font-size: 14px;
    color: #fd3c36;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 10px;
}

div.singleTopFirstNewsCenter div.singleNewsHead div:last-child a.newsDesc {
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 10px;
    font-weight: 700;
    color: black;
    text-decoration: none;
    transition: .4s all ease;
}

div.singleTopFirstNewsCenter div.singleNewsHead div:last-child a.newsDesc:hover {
    color: #fd3c36;
}

div.singleTopFirstNewsCenter div.singleNewsFoot {
    display: flex;
    justify-content: flex-end;
}


/* Home page top first news right side */

div.singleTopFirstNewsRight {
    display: flex;
    flex-direction: column;
    height: 120px;
}

div.singleTopFirstNewsRight:not(:last-child) {
    border-bottom: 1px solid #888888;
    box-sizing: border-box;
    margin-bottom: 10px;
}

div.singleTopFirstNewsRight div.singleNewsFoot,
div.singleTopFirstNewsRight div.singleNewsHead {
    display: flex;
}

div.singleTopFirstNewsRight div.singleNewsFoot {
    justify-content: flex-end;
}

div.singleTopFirstNewsRight div.singleNewsHead div:first-child {
    width: 30%;
    height: 90px;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: fill;
    margin-right: 5px;
}

div.singleTopFirstNewsRight div.singleNewsHead div:last-child {
    width: 70%;
    height: 100%;
}

div.singleTopFirstNewsRight div.singleNewsHead div:last-child h6.newsCat {
    font-size: 14px;
    color: #fd3c36;
    text-transform: uppercase;
    font-weight: 700;
}

div.singleTopFirstNewsRight div.singleNewsHead div:last-child a.newsDesc {
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 10px;
    font-weight: 700;
    color: black;
    text-decoration: none;
    transition: .4s all ease;
}

div.singleTopFirstNewsRight div.singleNewsHead div:last-child a.newsDesc:hover {
    color: #fd3c36;
}

div.singleTopFirstNewsRight div.singleNewsHead div:last-child p.newsCreatedDate {
    color: #888888;
    font-size: 14px;
    font-weight: 400;
}


/* Most popular news */

div.mostPopularNews div.singleMostPopularNews {
    margin-bottom: 15px;
}

div.mostPopularNews div.singleMostPopularNews div.singleMostPopularNewsHead div:first-child {
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: fill;
    background-position: center;
}

div.mostPopularNews div.singleMostPopularNews div.singleMostPopularNewsHead div:last-child h6.newsCat {
    font-size: 14px;
    color: #fd3c36;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 10px;
}

div.mostPopularNews div.singleMostPopularNews div.singleMostPopularNewsHead div:last-child a.newsDesc {
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 10px;
    font-weight: 700;
    color: black;
    text-decoration: none;
    transition: .4s all ease;
}

div.mostPopularNews div.singleMostPopularNews div.singleMostPopularNewsHead div:last-child a.newsDesc:hover {
    color: #fd3c36;
}

div.mostPopularNews div.singleMostPopularNews div.singleMostPopularNewsFoot {
    display: flex;
    justify-content: flex-end;
}


/* ----------------------------------- */


/* oldest news */


/* topic news */

ol.topic_news,
ol.oldestNews {
    margin: 0;
    padding: 0 15px;
}

ol.topic_news li.singleTopicNews,
ol.oldestNews li.singleOldestNews {
    font-family: UbuntuMedium;
    color: #FF3C36;
    margin-bottom: 20px;
}

ol.topic_news li.singleTopicNews a,
ol.oldestNews li.singleOldestNews a {
    color: #000000;
    text-decoration: none;
}

ol.topic_news li.singleTopicNews a:hover,
ol.oldestNews li.singleOldestNews a:hover {
    color: #FF3C36;
}

ol.topic_news li.singleTopicNews p.created_date,
ol.oldestNews li.singleOldestNews p.created_date {
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 700;
    color: #888888;
    margin-top: 5px;
}

div.home_page_section_title {
    width: 100%;
    border-bottom: 1px solid #888888;
    box-sizing: border-box;
    margin-bottom: 10px;
}

div.home_page_section_title h2 {
    color: #FFFFFF;
    background-color: #FF3C36;
    display: inline-block;
    margin: 0;
    padding: 10px;
}


/* Newsletter */

div.newsletter {
    background-color: #02031C;
    padding: 10px;
    margin: 15px;
}

div.newsletter h4 {
    text-align: center;
    color: #ee002d;
    font-weight: 700;
    margin: 15px;
}

div.newsletter form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.newsletter form input[type="text"] {
    width: 100%;
    height: 50px;
    background-color: #44425a;
    font-size: 14px;
    font-style: italic;
    color: #fff;
    border: none;
    padding: 0 25px;
}

div.newsletter form input.noValid {
    border: 2px solid red;
    box-sizing: border-box;
}

div.newsletter form input.noValid+p.errorMessage {
    margin-bottom: 25px;
    color: #f9dfff;
    width: 100%;
    text-transform: capitalize;
}

div.newsletter form button[type="submit"] {
    width: 100%;
    height: 50px;
    background-color: #ee002d;
    font-size: 14px;
    font-style: italic;
    color: #FFFFFF;
    border: none;
    padding: 0 25px;
    border-radius: 0;
    transition: .4s all ease;
}

div.newsletter form button[type="submit"].disabled {
    pointer-events: none;
    opacity: .5;
}

div.newsletter form button[type="submit"]:hover {
    background-color: #FFFFFF;
    color: #ee002d;
}

div.childCategories {
    border: 1px solid;
    /* box-shadow: inset 3px 3px 15px 0; */
}

div.childCategories {
    height: 450px;
    overflow: auto;
    position: relative;
}

div.childCategories p.loader {
    position: absolute;
    left: 0;
    right: 0;
    /* top: 0; */
    bottom: 0;
    margin: auto;
    background-color: #ee002d;
    width: 50%;
    color: #ffffff;
    height: fit-content;
}

div.childCategories ul li {
    display: flex;
    /* margin-bottom: 5px; */
    padding: 15px;
}

div.childCategories ul li div:first-child {
    width: 150px;
    height: 80px;
    background-position: center;
    background-size: cover;
}


/* Scroll */


/* width */

::-webkit-scrollbar {
    width: 10px;
}


/* Track */

::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* Handle */

::-webkit-scrollbar-thumb {
    /* background: #888;  */
    /* border-radius: 5px; */
    background-color: #02031c;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #555;
}


/* Single Info page */

div.info div.info-header h1 {
    font-family: LoraMedium;
}

div.info div.info-body p {
    font-family: RalewayMedium;
}

div.info div.info-body div.info-image {
    float: left;
    margin-right: 10px;
    width: 50%;
    min-height: 350px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

div.carousel {
    height: 183px;
}


/* Slick css */

.slick-dots li button:before {
    color: #FFFFFF !important;
}

.slick-dots li.slick-active button:before {
    opacity: 1 !important;
    color: #FFFFFF !important;
}


/* Footer section */

div#app footer {
    background-color: #02031C;
    width: 100%;
    padding: 15px;
    margin: 0;
    left: 0;
    right: 0;
    position: absolute;
}


/* div#app footer div:first-child {
    justify-content: space-around;
} */

div#app footer div:first-child h1,
div#app footer div:first-child h3 {
    color: #FFFFFF;
}


/* div#app footer div:first-child h3+ul {
    padding: 0;
    margin: 0;
} */


/* div#app footer div:first-child h3+ul li {
    list-style: none;
    color: #FFFFFF;
} */

div#app footer div:first-child h1+div a {
    color: #FFFFFF;
    font-size: 25px;
    margin-right: 5px;
    transition: .4s all ease;
}

div#app nav div div a {
    color: #000000;
    font-size: 25px;
    margin-right: 5px;
    transition: .4s all ease;
}

div#app nav div div a:nth-child(1):hover,
div#app footer div:first-child h1+div a:nth-child(1):hover {
    color: #4267B2;
}

div#app nav div div a:nth-child(2):hover,
div#app footer div:first-child h1+div a:nth-child(2):hover {
    color: #0088cc;
}


/* div#app nav div div a:nth-child(3):hover,
div#app footer div:first-child h1+div a:nth-child(3):hover {
    color: #bc2a8d;
} */

div#app footer div:last-child p {
    color: rgba(255, 255, 255, .5);
    font-size: 14px;
    line-height: 2;
    font-weight: 400;
    text-align: center;
}


/* Success message window */

div.successMessageWindow {
    position: fixed;
    z-index: 1;
    bottom: 0;
    background-color: rgb(68, 66, 90, .9);
    margin: 5px;
    padding: 5px;
    left: 0;
    right: 0;
    color: #ffffff;
    border-radius: 3px;
}

div.errorMessageWindow {
    position: fixed;
    z-index: 1;
    bottom: 0;
    background-color: rgba(211, 20, 20, 0.9);
    margin: 5px;
    padding: 5px;
    left: 0;
    right: 0;
    color: #ffffff;
    border-radius: 3px;
}

div.errorMessageWindow div,
div.successMessageWindow div {
    display: flex;
    justify-content: flex-end;
}

div.errorMessageWindow div span.closeModal,
div.successMessageWindow div span.closeModal {
    cursor: pointer;
    padding: 0 5px;
    font-size: 20px;
}